body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/037/247/946/non_2x/ai-generated-sweet-bakery-advertisment-background-with-copy-space-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
}

form {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #9e4caf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff0090;
}

@media only screen and (max-width: 768px) {
    form {
        width: 80%;
        max-width: 250px;
    }

    body {
        background-size: auto;
        background-position: center;
    }
}

@media only screen and (max-width: 480px) {
    form {
        width: 90%;
        max-width: 200px;
        padding: 15px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 8px;
    }

    button {
        padding: 10px 15px;
    }

    body {
        background-size: auto;
        background-position: center;
    }
}